<div class="o-grid-container">
	<div "o-grid-row">
		{{#with award}}
		<img src="{{iconSource}}" />
		<h2>{{name}}</h2>
		<p>{{name}} {{current}}/{{max}}</p>
		<div>
			{{description}}
		</div>
		{{/with}}
	</div>
</div>