<div class="o-grid-container polywag">
	<div class="centre-img">
			<br>
		{{#with award}}
		<h2>{{name}}</h2>
		<img src="{{iconSource}}"/>
		<p>{{current}}/{{max}}</p>
		<div class='progress-container-container'>
			<div class='progress-container'></div>
			<div class='progress' style='right:{{percentRemaining}}%;'></div>
		</div>

		<div>
			{{description}}
		</div>
		{{/with}}
	</div>
</div>