<div class="o-grid-container polywag">
	<div class="centre-img">
			<br>
		{{#with award}}
		<img src="{{iconSource}}"/>

		<h2>{{name}}</h2>
		<p>{{current}}/{{max}}</p>

		<div class='progress-container-container'>
			<div class='progress-container'></div>
			<div class='progress' style='right:{{percentRemaining}}%;'></div>
		</div>

<br/>
		<p>Reading {{max}} articles will unlock the Well Read badge and give you an extra day of free full access to FT content. Enjoy reading!</p>
		{{/with}}

		<br/>
		<a href="/world/uk" class="o-buttons o-buttons--primary o-buttons--big">
			Explore more content
		</a>
	</div>
</div>